
.main {
  background-image: url("../images/Background-blackblue.jpg");
  height: 650px;

}
.hello{
  font-size: 30px;
  position: relative;
  top: 15px;
}
.sri {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 50%;
  position: relative;
  top: 200px;
  left: 100px;
  color: white;
  width: 50%;
}

.sai {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 5px;
  left: 110px;

  color: white;
  width: 50%;
}
.sai span {
  color: blue;
  transition: all 0.3s ease;
}

.top {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left: 55%;
  top: 25px;
  width: 100%;
}

.nav-bar{
  color: #fff;
  text-decoration: none;
  padding: 0px 1rem;
}
.nav-bar:hover{
  text-decoration: underline;
}
/*
  &:hover {
    text-shadow: white;
    color: #0916c7;
  }*/




.hire {
  font-size: 25px;
  color: white;
  background-color: #0916c7;
  padding: 20px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}
.hire:hover{
  color: #0916c7;
  background: none;
  display: block;
  width: auto !important;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  flex-wrap: nowrap;
  border: 2px solid blue;
  transition: all 0.3s ease;

}
.hire a:visited{
  color: #0916c7;
  background: none;
  display: block;
  width: auto !important;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  flex-wrap: nowrap;
  border: 2px solid blue;
  transition: all 0.3s ease;

}
/*
  &:hover {
   background-color: crimson;
  }*/

button {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #2c09c7;
  padding: 10px;
  width: 150px;
  color: #ffffff;
  text-align: center;
}

.ysri {
  margin-top: 5rem;
  position: absolute;
}

.ysri img {
right: 0px;
  width: 130%;
  position: relative;
  left: 200px;
  bottom: 30px;

}

.about {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 45px;
  text-align: center;
  color: black;
  line-height: 0px;
  position: relative;
  top: 30px;

}

.who {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 20px;
  text-align: center;
  color: crimson;
  line-height: 10px;
  position: relative;
  top: 30px;

}

.who span {
  color: black;
}

.division {
  height: 200px;
  width: 25%;
  text-align: center;
}

.about1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 25px;
  position: absolute;
  top: 880px;
  left: 580px;
  line-height: 0px;
}

.desc {
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 20px;
  position: absolute;
  top: 920px;
  left: 580px;
  right: 160px;
  text-align: justify;

  margin-bottom: 10px;
}

.download a{
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: crimson;
  font-size: 20px;
  position: relative;
  top:165px;
  left: 240px;
  padding: 10px;
  width: 200px;
  color: #fff;
  display: block;
  width: auto !important;
  outline: none;
  text-decoration: none;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.download a:visited{
  color: white;
  text-decoration: none;
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: crimson;
  font-size: 20px;
  position: relative;
  
  
  display: block;
  width: auto !important;
  outline: none;
  
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.download a:hover {
  color: crimson;
  display: block;
  width: auto !important;
  outline: none;
  
  border-radius: 4px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: none;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.pic img{
  width: 320px;
  position: relative;
  top: 70px;
  left: 150px;
}

.about3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  font-size: 45px;
  text-align: center;
  color: white;
  line-height: 0px;
  position: relative;
  top: 50px;

}

.who3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  font-size: 20px;
  text-align: center;
  color: crimson;
  line-height: 10px;
  position: relative;
  top: 60px;

}

.thirdone {
  background-color: black;
  height: 650px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 160px;
}

span {
  color: white;
}

.web {
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(156, 153, 153, 0.158);
  color: white;
  display: inline-block;
  border-radius: 10px;
  width: 30%;
  height: 300px;
  position: relative;
  top: 100px;
  right: 50px;

}

.add {
  background-color: rgba(156, 153, 153, 0.158);
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: inline-block;
  border-radius: 10px;
  width: 30%;
  height: 300px;
  position: relative;
  top: 100px;
  left: 50px;
}

.webtext {
  position: relative;
  top: 60px;
  text-align: center;

}

.addtext {
  position: relative;
  top: 60px;
  text-align: center;
}

.webtext i {
  font-size: 60px;
  color: crimson;
}

.web:hover i {
  color: #fff;
}

.web:hover {
  background-color: crimson;
  
}

.addtext i {
  font-size: 50px;
  color: crimson;
}

.add:hover i {
  color: #fff;
}

.add:hover {
  background-color: crimson;
}
.fourthone{
  
  height: 650px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 150px;
}

.myskills {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 45px;
  text-align: center;
  color: black;
  line-height: 0px;
  position: relative;
  top: 40px;
}

.what1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 20px;
  text-align: center;
  color: crimson;
  line-height: 10px;
  position: relative;
  top: 40px;
}

.what1 span {
  color: black;
}

.skills {
  height: 200px;
  width: 25%;
  text-align: center;
}

.skillh1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 25px;
  position: absolute;
  top: 2170px;
  right: 855px;
  left: 5px;
  line-height: 0px;
}

.skilldesc {
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 20px;
  position: absolute;
  top: 2200px;
  right: 700px;
  left: 70px;
  text-align: justify;

  margin-bottom: 10px;
}

.readmore a{
  font-family: 'Arial Narrow', Arial, sans-serif;

  font-size: 20px;
  position: relative;
  bottom: 300px;
  right: 30px;
  left: 60px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  display: block;
  width: 150px !important;
  height: 25px;
  outline: none;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.readmore a:hover {
  color: crimson;
  background: none;
}

.rightside {
  position: relative;
  left: 700px;

  position: absolute;
  right: 50px;
  top: 2190px;
}

.column {
  width: 100%;
  margin-bottom: 35px;
}

.right .bars {
  margin-bottom: 15px;
}

.right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

.right span {
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}

.right .html::before {
  width: 90%;
}

.right .css::before {
  width: 90%;
}

.right .js::before {
  width: 80%;
}

.right .php::before {
  width: 50%;
}

.right .mysql::before {
  width: 70%;
}

.fifthone {
  background-color: black;
  height: 650px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 150px;
}

.team1 span {
  color: white;
}

.myteams {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  font-size: 45px;
  text-align: center;
  color: white;
  line-height: 0px;
  position: relative;
  top: 50px;

}

.team1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  font-size: 20px;
  text-align: center;
  color: crimson;
  line-height: 10px;
  position: relative;
  top: 60px;
}

.nishanth {
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(156, 153, 153, 0.158);
  color: white;
  display: inline-block;
  border-radius: 10px;
  width: 120%;
  height: 320px;
  position: relative;
  top: 90px;
  left: 200px;

}

.nishanthtext {
  position: relative;
  top: 20px;
  text-align: center;
}

.nishanthtext img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
}

.nishanthtext:hover img {
  border-color: #fff;
}

.nandhu {
  background-color: rgba(156, 153, 153, 0.158);
  font-family: 'Arial Narrow', Arial, sans-serif;
  color: white;
  display: inline-block;
  border-radius: 10px;
  width: 30%;
  height: 320px;
  position: absolute;
  top: 160px;
  left: 700px;
}

.nandhutext {
  position: relative;
  top: 20px;
  text-align: center;
}

.nandhutext img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
}

.nandhutext:hover img {
  border-color: #fff;
}

.nishanth:hover {
  background-color: crimson;
}

.nandhu:hover {
  background-color: crimson;
}
.sixthone{
  width: 100%;
  height: 100px;
  position: relative;
  top: 0px;
}

.contact {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 45px;
  text-align: center;
  color: black;
  line-height: 0px;
  position: relative;
  top: 300px;
}

.getintouch {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 20px;
  text-align: center;
  color: crimson;
  line-height: 10px;
  position: relative;
  top: 300px;
}

.getintouch span {
  color: black;
}

.getintouchfull {
  height: 200px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 320px;
}

.geth1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 1125px;
  left: 0px;
  line-height: 0px;
}

.getdesc {
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: white;
  font-size: 20px;
  position: absolute;
  top: 50px;
  left: 40px;
  right: 700px;
  text-align: justify;

  margin-bottom: 10px;
}

.icons {
  margin: 10px 0;
  position: relative;
  top: 140px;
  left: 28px;
  font-size: 20px;
}

.row1 {
  display: flex;
  height: 65px;
  text-align: left;
  margin-left: 30px;
}
/*
.row2 {
  display: flex;
  height: 65px;
  text-align: left;
  margin-left: 30px;
  position: relative;
  top: 50px;
  right: 120px;
}*/

.row3 {
  display: flex;
  height: 65px;
  text-align: left;
  margin-left: 30px;
  position: relative;
  top: 70px;
  right: 152px;
}

.row1 i{
  font-size: 35px;
  color: crimson;
  position: relative;
  right: 20px;
}
/*
.row2 i {
  font-size: 35px;
  color: crimson;
  position: relative;
  left: 6px;
}*/

.row3 i{
  font-size: 35px;
  color: crimson;
  position: relative;
  left: 130px;
  bottom: 110px;
}

.info1 {
  width: 100px;
  margin-left: 30px;
  font-weight: 500;
  color: #333;
  position: relative;
  bottom: 70px;
  left: 30px;
  text-align: justify;
}
/*
.info2 {
  margin-left: 30px;
  font-weight: 500;
  color: #333;
}*/

.info3 {
  width: 250px;
  margin-left: 30px;
  font-weight: 500;
  color: #333;
  position: relative;
  bottom: 110px;
  left: 30px;
  text-align: justify;

}

.form {
  position: relative;
  left: 210px;
  right: 150px;
  top: 280px;
}

.text {
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  position: relative;
  right: 120px;
  top: 20px;
}

.fieldname {
  width: 100%;
  position: relative;
  right: 55px;
}

.fieldemail {
  width: 100%;
  position: relative;
  left: 220px;
  bottom: 60px;
}

.field {
  width: 202%;
  position: relative;
  right: 600px;
  bottom: 60px;
}

.fieldtextarea {
  height: 10px;
  position: relative;
  left: 80px;
  bottom: 50px;

}

.button-area {

  position: relative;
  left: 480px;
  top: 50px;
  display: flex;
  align-items: center;
}

.button-area button {
  color: #fff;
  display: block;
  width: auto !important;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.button-area button:hover {
  color: crimson;
  background: none;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
